@charset "UTF-8";
/* CSS Document */

body {
    font-family: "Lato", sans-serif;
}
.sidenav {
    width: auto;
    position: fixed;
    top: 5px;
    left: 10px;
    overflow-x: hidden;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: ghostwhite;
    display: block;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
}
.sidenav a {
    font-size: 18px;
}
}